@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

header{
    background-color: rgba(255, 241, 39, 0.836);
}

header h1{
    color: rgb(223, 99, 42);
    font-size: 55px;
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
    color: rgb(221, 109, 3);
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

header nav div{
    padding-left: 15px;
}

header nav div .navbar-brand{
    padding-left: 15px;
}

header nav div .d-flex{
    padding-right: 15px;
}

header nav ul li{
    padding: 10px;
    justify-content: space-between;
}

.grid-galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 350px;
    gap: 35px;
    padding: 35px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-galeria div h2{
    position: absolute;
}

h3{
    color: rgb(221, 109, 3);
    text-align: center;
    padding-top: 45px;
    font-size: 40px;
    padding-bottom: 25px;
}

.grid-galeria2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 350px;
    gap: 35px;
    transition: 1s;
}

.grid-galeria2 div:hover{
    transform: scale(1.2);    
}

.grid-galeria2 div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-galeria2 div p{
    text-align: center;
}

.grid-galeria2 div{
    padding-bottom: 75px;
}

.grid-imagenes{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-auto-rows: 450px;
    gap: 35px;
}

.grid-imagenes div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-imagenes div p{
    text-align: center;
    padding-bottom: 15px;
    position: relative;
    background-color: white;
    background-position: 100%;
}

.grid-imagenes div{
    padding-bottom: 75x;
}

.grid-imagenes div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding-bottom: 15px;
}

video{
    width: 100%;
    height: 350px;
    object-fit: cover;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 45px;
}

.sustentabilidad{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.text h4{
    margin-right: 25px;
    font-size: 35px;
}

.text p{
    margin-right: 35px;
}

.sustento{
    width: 557px;
    height: 586px;
}

.sustentabilidad-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.sus3{
    width: 557px;
    height: 586px;
}

.sus5{
    width: 557px;
    height: 586px;
}

.sustentabilidad-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
    padding-left: 45px;
    padding-right: 25px;
    padding-bottom: 35px;
}

.sustentabilidad-3 img{
    width: 557px;
    height: 586px;
}

.sustentabilidad-3 h4{
    margin-left: 75px;
    font-size: 35px;
}

.sustentabilidad-3 p{
    margin-left: 75px;
}

h5{
    text-align: center;
    color: gray;
    font-size: 40px;
    padding-bottom: 15px;
}

.rebaja{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.descuento{
    color: rgb(223, 99, 42);
    font-size: 20px;
    text-align: center;
}

.grid-imagenes div a{
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    padding: 2px;
    justify-content: center;
    transition: 1s;
}

.grid-imagenes div:hover{
    transform: scale(1.2);
}

.pics{
    padding-top: 25px;
    padding-bottom: 25px;
}

.shopp{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.carrito p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}

.pics img{
    width: 400px;
    height: 600px;
    margin: 15px;
    border: 1px solid black;
}

.pics div{
    width: 400px;
    height: 600px;
    margin: 15px;
    display: inline-block;
}

.pics div p{
    text-align: center;
}

.pics div a{
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    padding: 2px;
}

.nuevo p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.temporada p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.imagen{
    padding-top: 25px;
    padding-bottom: 25px;
}

.imagen img{
    width: 400px;
    height: 600px;
    margin: 15px;
    border: 1px solid black;
    
}

.imagen div{
    width: 400px;
    height: 600px;
    margin: 15px;
    display: inline-block;
}

.imagen div p{
    text-align: center;
}

.imagen div a{
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    padding: 2px;
}

.referencia{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.mapa{
    display: flex;    
}

.contactos-1{
    margin-left: 85px;
    font-size: 15px;   
    color: grey;
}

.flor{
    color: rgb(223, 99, 42);;
    font-size: 22px;
    text-align: left;
    margin-inline-start: 15px;
    padding-top: 55px;
}

.envio a{
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: block;  
    margin-inline-start: 15px;
}

.horario{
    color: black; 
    text-align: center; 
    font-size: 12px;
    text-decoration: none;
    padding-bottom: 20px;  
} 

footer{
    background-color: white;
    
}

footer div ul{
    color: black; 
    justify-content: center;
    align-items: center;

}   

.noso p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    padding-top: 25px;
}

.texto p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.historia p{
    color:black;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

.titulo p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.sustentabilidad p{
    color:black;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

.trabaja p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
}

.work p{
    color:black;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

.envios p{
    color: rgb(223, 99, 42);
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    padding-top: 25px;
}

.metodo p{
    color:black;
    font-weight: 300;
    font-size: 15px;
    text-align: left;
}

.formulario{
    padding: 30px;
    margin: 20px;
    width: 200px;
}

@media screen and (max-width: 900px) {

    .grid-galeria{
        display: inline-block;
        width: 100%;
        grid-auto-rows: 450px;
        gap: 35px;
    }

    .grid-galeria div img{
        width: 80%;
        height: 80%;
        object-fit: cover;
        padding-top: 55px;
        justify-content: center;

    }

    .grid-galeria div h2{
        position: absolute;
        padding-bottom: 25px;
    }

    .grid-galeria2{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 350px;
        gap: 35px;
        transition: 1s;
    }

    h3{
        color: rgb(221, 109, 3);
        text-align: center;
        padding-top: 45px;
        font-size: 35px;
        padding-bottom: 25px;
    }
    
    .grid-galeria2 div:hover{
        transform: scale(1.2);    
    }
    
    .grid-galeria2 div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    .grid-galeria2 div p{
        text-align: center;
    }

    .sustentabilidad{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 35px;
    }

    .text h4{
        margin-right: 25px;
        font-size: 25px;
    }
    
    .text p{
        margin-right: 35px;
        font-size: 15px;
    }
    
    .sustento{
        width: 457px;
        height: 486px;
    }
    
    .sustentabilidad-2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 35px;
    }
    
    .sus3{
        width: 357px;
        height: 386px;
    }
    
    .sus5{
        width: 357px;
        height: 386px;
    }
    
    .sustentabilidad-3{
        display: inline-block;
                    
    }
    
    .sustentabilidad-3 img{
        width: 357px;
        height: 386px;
    }
    
    .sustentabilidad-3 h4{
       font-size: 25px;
       text-align: left;
       padding-top: 15px;
    }
    
    .sustentabilidad-3 p{
        font-size: 15px;
        text-align: left;
        
    }

    .text-2 h4{
        text-align: left;
    
    }

    .horario{
        padding-top: 15px;
    
    }
    
    h5{
        text-align: center;
        color: gray;
        font-size: 30px;
        padding-bottom: 15px;
    }

}

@media screen and (max-width: 600px) {

    .grid-galeria{
        display: inline-block;
        width: 100%;
        grid-auto-rows: 450px;
        gap: 35px;
    }

    .grid-galeria div img{
        width: 80%;
        height: 80%;
        object-fit: cover;
        padding-top: 55px;
        justify-content: center;

    }

    .grid-galeria div h2{
        position: absolute;
        padding-bottom: 25px;
    }

    .grid-galeria2{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 350px;
        gap: 35px;
        transition: 1s;
    }

    h3{
        color: rgb(221, 109, 3);
        text-align: center;
        padding-top: 45px;
        font-size: 30px;
        padding-bottom: 25px;
    }
    
    .grid-galeria2 div:hover{
        transform: scale(1.2);    
    }
    
    .grid-galeria2 div img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        justify-content: center;
    }
    
    .grid-galeria2 div p{
        text-align: center;
    }

    .sustentabilidad{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding-top: 55px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 35px;
    }

    .text h4{
        margin-right: 25px;
        font-size: 25px;
    }
    
    .text p{
        margin-right: 35px;
        font-size: 15px;
    }
    
    .sustento{
        width: 357px;
        height: 386px;
    }
    
    .sustentabilidad-2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 35px;
    }
    
    .sus3{
        width: 257px;
        height: 286px;
    }
    
    .sus5{
        width: 257px;
        height: 286px;
    }
    
    .sustentabilidad-3{
        display: inline-block;
                    
    }
    
    .sustentabilidad-3 img{
        width: 257px;
        height: 286px;
    }
    
    .sustentabilidad-3 h4{
       font-size: 25px;
       text-align: left;
       padding-top: 15px;
    }
    
    .sustentabilidad-3 p{
        font-size: 15px;
        text-align: left;
        
    }

    .text-2 h4{
        text-align: left;
    
    }

.horario{
    padding-top: 15px;

    }
    
    h5{
        text-align: center;
        color: gray;
        font-size: 25px;
        padding-bottom: 15px;
    }


}
