$color-primario:rgba(255, 241, 39, 0.836);
$color-secundario: rgb(223, 99, 42);
$color-terciario: black;

@mixin flex($flex, $justify, $align){
    display: $flex;  
    justify-content: $justify; 
    align-items: $align;
}

@mixin flex-2($justify, $align){  
    justify-content: $justify;  
    align-items: $align;
}

.contendor{
    @include flex(flex, center , center )
}

.contendor-2{
    @include flex-2(center, center )
}
