footer{
    background-color: white;

    div ul{
        color: $color-terciario; 
        @include flex-2(center, center )
    
    }

    .flor{
        color: $color-secundario;
        font-size: 22px;
        text-align: left;
        margin-inline-start: 15px;
        padding-top: 85px;
    }
    
    .envio a{
        color: $color-terciario;
        font-size: 15px;
        text-decoration: none;
        display: block;  
        margin-inline-start: 15px;
    }
    
    .horario{
        color: $color-terciario; 
        text-align: center; 
        font-size: 12px;
        text-decoration: none;
        padding-bottom: 20px;  
    }
}

   