header{
    background-color: $color-primario;

    h1{
        color: white;
        font-size: 15px;
        background-color: $color-terciario;
        padding-top: 10px;
        padding-left: 35px;
        padding-bottom: 15px;
        padding-bottom: 10px;
        animation-name: slidein;
        animation-duration: 10s;
        animation-timing-function: ease-out;
        animation-direction: initial;
        animation-iteration-count: infinite;
        animation-delay: 10s;
    
    }
    
    @keyframes slidein {
        from{
            margin-left: 100%;
            width: 300%;
        }
        
        to{
            margin-left: 0;
            width: 100%;
        }
    }

    h2{
        color: $color-secundario;
        font-size: 55px;
        text-align: center;
        padding-top: 15px ;
    }
        
}
